.Footer {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #ec5656;
}
.circle{
    position: absolute;
    text-align: center;
    display: block;
    margin: auto;
    bottom: 10px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: #ec5656;
    transform: translateX(-50%);
    left: 50%;
}

.add {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    color: black;
}